.container {
  .header {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .row {
    display: flex;

    .colLeft {
      flex: 1;

      form {
        background-color: #fff;
        border-radius: 10px;
        padding: 30px;

        .contentImgForm {
          display: flex;

          .contentImg {
            background-color: gray;
            border-radius: 5px;

            // HW
            height: 128px;
            width: 128px;

            img {
              max-height: 100%;
              max-width: 100%;
            }
          }
        }

        .contentForm {
        }

        .group {
          display: flex;
          flex-direction: column;

          &:not(:last-child) {
            margin-bottom: 20px;
          }

          label {
            color: #555;
            font-weight: 600;
            margin-bottom: 5px;
          }

          input {
            border: solid #555;
            border-width: 0 0 2px 0;
            font-size: 1.25rem;
            padding: 10px 0;

            &:focus-visible {
              outline: none;
            }

            &:disabled {
              padding: 10px;
            }
          }
        }
      }
    }

    .colRight {
      width: 300px;

      img {
        max-height: 500px;
        max-width: 100%;
      }
    }
  }
}
