.header {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.form {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;

  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;

    .button {
      background-color: #333;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      font-size: 0.825rem;
      font-weight: 700;
      min-width: 150px;
      padding: 10px 15px;
      text-align: center;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }

    .update {
      background-color: #ff9f00;
    }

    .delete {
      background-color: #ff0000;
    }
  }

  .group {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    label {
      color: #555;
      font-weight: 600;
      margin-bottom: 5px;
    }

    input {
      border: solid #555;
      border-width: 0 0 2px 0;
      font-size: 1.25rem;
      padding: 10px 0;

      &:focus-visible {
        outline: none;
      }

      &:disabled {
        padding: 10px;
      }
    }
  }
}
